.app {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: linear-gradient(
    rgba(115, 72, 216, 0.7),
    rgba(133, 57, 232, 0.3)
  );
}

form{
  background: white;
  padding: 0px 60px;
  border-radius: 10px;
}

h1{
  color: rgb(87, 13, 87);
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}